{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %} Edit {{ post['imageName'] }} {% endblock %}</h1>

<form method="post" enctype="multipart/form-data" action="{{ url_for('main.edit', image_id=post.imageId) }}">
    <div class="form-group">
        <label for="imageName">Image Title</label>
        <input type="text" name="imageName" id="imageName"
               placeholder="Image Title" class="form-control"
               value="{{ request.form['imageName'] or post['imageName'] }}"></input>
    </div>
    <div>
    <label for="unitPrice">Image Price (CAD)</label>
    <input name="unitPrice" id="unitPrice" type="number" min="0.99" max="1000"
              class="form-control" size="6" value="{{ request.form['unitPrice'] or post['unitPrice'] }}">{{ request.form['unitPrice'] }}</input>
    </div>
    <div>
    <label for="discount">Image Discount</label>
    <input name="discount" id="discount" type="number" min="0" max="100"
              class="form-control" size="3" step="1" value="{{ request.form['discount'] or post['discount'] }}">{{ request.form['discount'] }}</input>
    </div>
    <div>
    <label for="inventory">Total Inventory</label>
    <input name="inventory" id="inventory" type="number" min="1" max="1000"
              class="form-control" size="6" step="1" value="{{ request.form['inventory'] or post['inventory'] }}">{{ request.form['inventory'] }}</input>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
    </div>
        <textarea name="description" id="description" placeholder="Post content"
                  class="form-control" style="height:50%; width:50%" value="{{ request.form['description'] or post['description'] }}">{{ request.form['description'] or post['description'] }}</textarea>
    <div class="field">
        <label class="checkbox">
            <input type="checkbox" name="private">
            Private (Only You Can See The Image)
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
<form method="post" action="{{ url_for('main.delete_image', image_id=post.imageId) }}">
    <div>
        <button type="submit" class="btn btn-primary">Delete Image</button>
    </div>
</form>
<hr>

{% endblock %}