{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ name }}'s Orders
</h1>
{% for post in posts %}
            <div>
                <p>Order ID: {{ post['orderId'] }}</p>
                <p>Image ID: {{ post.imageId }} </p>
                <p>Quantity: {{ post['quantity'] }}</p>
                <p>Order Total: ${{ post['price'] }}</p>
                <p>Quantity: {{ post['quantity'] }}</p>
                <p>Status: {{ post['status'] }}</p>
            </div>
        <hr>
    {% endfor %}
{% endblock %}